
/*
* Размеры
* [min, size, line-height]
*/
$text-adaptive--80: (30, 80, 66);
$text-adaptive--54: (20, 54, 56);
$text-adaptive--44: (20, 44, 35);
$text-adaptive--38: (20, 38, 38);
$text-adaptive--34: (20, 34, 42);
$text-adaptive--30: (20, 30, 35);
$text-adaptive--28: (17, 28, 31);
$text-adaptive--25: (17, 25, 30);
$text-adaptive--22: (17, 22, 30);
$text-adaptive--20: (15, 20, 25);
$text-adaptive--18: (14, 18, 30);
$text-adaptive--16: (14, 16, 20);
$text-adaptive--14: (10, 14, 20);
$text-adaptive--12: (10, 12, 20);
$text-adaptive--10: (10, 10, 15);
$text-adaptive--8: (10, 8, 15);

// [name, variables]
$text-sizes-adaptive: (
                (80, $text-adaptive--80),
                (54, $text-adaptive--54),
                (44, $text-adaptive--44),
                (38, $text-adaptive--38),
                (34, $text-adaptive--34),
                (30, $text-adaptive--30),
                (28, $text-adaptive--28),
                (25, $text-adaptive--25),
                (22, $text-adaptive--22),
                (20, $text-adaptive--20),
                (18, $text-adaptive--18),
                (16, $text-adaptive--16),
                (14, $text-adaptive--14),
                (12, $text-adaptive--12),
                (10, $text-adaptive--10),
                (8, $text-adaptive--8),
);
