/*
* Размеры
* [size, line-height]
*/
$text--80: (80, 66);
$text--54: (54, 56);
$text--44: (44, 50);
$text--38: (38, 38);
$text--34: (34, 42);
$text--30: (30, 35);
$text--28: (28, 31);
$text--25: (25, 30);
$text--22: (22, 30);
$text--20: (20, 25);
$text--18: (18, 30);
$text--16: (16, 20);
$text--14: (14, 20);
$text--12: (12, 20);
$text--10: (10, 15);
$text--8: (8, 15);

// [name, variables]
$text-sizes: (
  (80, $text--80),
  (54, $text--54),
  (44, $text--44),
  (38, $text--38),
  (34, $text--34),
  (30, $text--30),
  (28, $text--28),
  (25, $text--25),
  (22, $text--22),
  (20, $text--20),
  (18, $text--18),
  (16, $text--16),
  (14, $text--14),
  (12, $text--12),
  (10, $text--10),
  (8, $text--8),
);



/*
* Жирность
*/
$text-weight--bold: 700;
$text-weight--medium: 500;
$text-weight--light: 300;

// [name, value]
$text-weights: (
  (bold, $text-weight--bold),
  (medium, $text-weight--medium),
  (light, $text-weight--light),
);
