@import "functions";
@import "mixins";

$root-menu-settings-height: rem(35);

$paddings--super-small: rem(5);
$paddings--small: rem(10);
$paddings--medium: rem(20);
$paddings--large: rem(30);
$paddings--extra-large: rem(50);

