@import "functions";
@import "mixins";

$root-menu-settings-height: rem(35);




$nav-bar--width: clamp(rem(100), 20%, rem(250));
$drawer-bar--min-width: rem(100);
$drawer-bar--width: clamp($drawer-bar--min-width, 30%, rem(350));
$padding-component: rem(15);


$border-radius-album: rem(15);
$border-radius-small:rem(5);
$border-radius-element: rem(25);
