[data-theme='default']{
  --Color-Text--root: #bca9a9;
  --Color-Bckground--root: #1f2440;

  --Color-Text--primary: #d3d3e2;
  --Color-Text--secondary: #616789;
  --Color-Text--placeholder: #484e70;
  --Color-Text--red: #b64a50;
  --Color-Text--dark: #1f2440;

  --Color-Bckground--app: #1f2440;
  --Color-Bckground--Message: #959afffa;
  --Color-Bckground--dark: #1a1e38;
  --Color-Background--light--90: #313458;
  --Color-Background--light--60: #5d5e6a;
  --Color-Background--red: #eb595a;
  --Color-Background--disabled: #ac9d9dad;

  --Color-Border--grey: #2c3156;
  --Color-Border--light-30: #b5b5b7;
  --Color-Border--light-30--opacity-05: rgba(181, 181, 183, 0.47);

  --Color-Status--Offline: #eb595a;
  --Color-Status--Online: #1ae243;
  --Color-Status--Incognito: rgba(97, 97, 97, 0.56);

  --Color-Icon--light: #d3d3e2;
  --Color-Icon--grey: #616789;
  --Color-Icon--red: #b64a50;

  --Color-Error: #b64a50;
}