@font-face {
  font-family: 'CircularStd';
  src: url('../../../public/fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../../public/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Miedinger';
  src: url('../../../public/fonts/Miedinger-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('../../../public/fonts/Archivo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra';
  src: url('../../../public/fonts/Chakra.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CODEINK';
  src: url('../../../public/fonts/CODEINK.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../public/fonts/Inter.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
