@use "sass:map";
@import "functions";


@mixin color-theme($theme-name) {
  [data-project-theme='#{$theme-name}'] & {
    @content
  }
}

@mixin hideScrollbar() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}

@mixin fade-in-animation($initialOpacity) {
  animation: 0.3s showElement;

  @keyframes showElement {
    0% {
      opacity: $initialOpacity;
    }
    100% {
      opacity: 100%;
    }
  }
}
