@import "@ui/styles/for_components";

$audio-height: rem(25);


.CreatePublication {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  flex-direction: column;
  width: 100%;

  &-ContentContainer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding-top: rem(10);
    padding-bottom: rem(10);
  }

  &-SubmitActionsContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &-UploadFile {
    padding: 0!important;
  }

  &-ButtonReset {
    //transform: translateX(100%);
    transition: 0.5s;

    &--active {
      //transform: translateX(0);
      transition: 0.5s;
    }
  }

  &-AddVoiceContainer {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    gap: rem(20);
  }

  &-CurrentAudioBlobs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(5);
  }

  &-CreatedVoiceMessage {
    display: flex;
    position: relative;
    width: 100%;

    &Actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: rem(10);
    }
    &Audio {
      width: 100%;
    }
    &ButtonAdd {
      //position: absolute;
      //right: 0;
    }
  }

  &-AddVoicesList {
    margin-top: rem(20);
    display: flex;
    flex-direction: column;
    width: 100%;

    &List {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: rem(5);

    }

    &Box {
      display: flex;
      gap: rem(5);
    }

    &Audio {
      width: 100%;
    }

    &ButtonRemove {

    }
  }

  &-AddCommentInput {
    padding-left: rem(20);
    padding-right: rem(20);
    border-bottom: rem(1) solid var(--Palette--Oceanic--100--opacity-1)!important;
  }


  &-AddAttachmentsList {
    $AttachmentsList: &;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(20);

    &List {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: rem(5);
    }

    &Box {
      height: 100px;
      width: 100px;
      flex-shrink: 0;
      flex-grow: 0;
      position: relative;
      padding: rem(5);
      overflow: hidden;

      &:hover #{$AttachmentsList}ButtonRemove {
        transform: translateX(0);
        transition: transform .5s;
      }
    }

    &ButtonRemove {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      transition: transform .5s;
    }
  }
}
