@import "@ui/styles/for_components";

$audio-height: rem(25);


.CreatePublication {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  background: var(--Palette--LightGrey--80--opacity-1);
  border-radius: $border-radius--medium;
  padding: $paddings--medium;
  gap: rem(20);

  &-ContentContainer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding-top: rem(10);
    padding-bottom: rem(10);
  }

  &-SubmitActionsContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &-UploadFile {
    padding: 0!important;
  }

  &-ButtonReset {
    //transform: translateX(100%);
    transition: 0.5s;

    &--active {
      //transform: translateX(0);
      transition: 0.5s;
    }
  }

  &-AddVoiceContainer, &-AddVideoContainer {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    gap: rem(20);
  }

  &-CurrentAudioBlobs, &-CurrentVideoBlobs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(5);
  }

  &-CreatedVoiceMessage {
    display: flex;
    position: relative;
    width: 100%;

    &Actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: rem(10);
    }
    &Audio {
      width: 100%;
    }
    &ButtonAdd {
      //position: absolute;
      //right: 0;
    }
  }

  &-AddVoicesList {
    margin-top: rem(20);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: rem(10);

    &List {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: rem(5);

    }

    &Box {
      display: flex;
      gap: rem(5);
    }

    &Audio {
      width: 100%;
    }

    &ButtonRemove {

    }
  }

  &-AddCommentInput {
    padding-left: rem(20);
    padding-right: rem(20);
    border-bottom: rem(1) solid var(--Palette--Oceanic--100--opacity-1)!important;
  }


  &-AddAttachmentsList {
    $AttachmentsList: &;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(20);

    &List {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: rem(5);
    }

    &Box {
      width: rem(100);
      height: rem(100);
      flex-shrink: 0;
      flex-grow: 0;
      position: relative;
      padding: rem(5);
      overflow: hidden;
      background: var(--Palette--LightGrey--80--opacity-1);

      &:hover #{$AttachmentsList}ButtonRemove {
        transform: translateX(0);
        transition: transform .5s;
      }
    }

    &ButtonRemove {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      transition: transform .5s;
    }
  }

  &-AddVideoList {
    $VideoList: &;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(20);

    &List {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: rem(5);
    }

    &Box {
      height: rem(200);
      flex-shrink: 0;
      flex-grow: 0;
      position: relative;
      padding: rem(5);
      overflow: hidden;
      background: var(--Palette--LightGrey--80--opacity-1);

      &:hover #{$VideoList}ButtonRemove {
        transform: translateX(0);
        transition: transform .5s;
      }
    }

    &ButtonRemove {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      transition: transform .5s;
    }
  }


  &-CurrentVideoBlobs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: rem(5);

    &--isNotEmpty {
      border: rem(1) dotted var(--Palette--Oceanic--100--opacity-1);
      padding: rem(5);
    }

    &Item {
      display: flex;
      gap: rem(5);
      width: rem(200);
      max-height: rem(200);
      flex-grow: 1;

      &Video {
        flex-grow: 1;
      }
      &Actions {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        &ButtonAdd, &ButtonRemove {
          flex-grow: 1;
          width: rem(50);
          justify-content: center;
        }
      }
    }

  }

  &-ModalCreateVideo {
    width: 80vw;
    height: 80vh;
    justify-content: center;

    &Wrapper {
      width: 100%;
      height: 100%;
    }

    &ControlsRecording {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: rem(2);

      & > button {
        flex-grow: 1;
        height: rem(50);
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--Color-Bcg--variant-4--theme-default);
      }
    }
  }
}
