@import "@ui/styles/for_components";
@import "../../../variables";

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

.Header {
  &-ButtonCloseChat {
    $size: rem(25);
    max-width: $size;
    width: $size;
    height: $size;
    min-width: $size;
    padding: 0;
    background: transparent!important;
  }

  &-ContactInfo {
    display: flex;
    gap: rem(10);
    align-items: center;
    height: 100%;
  }

  &-ImgContainer {
    position: relative;
    overflow: hidden;
    border-radius: $messenger--border-radius--medium;
    height: max(100%, rem(20));
  }
  &-Info {
    display: flex;
    flex-direction: column;
  }
  &-InfoName {
    width: 100%;
  }
  &-OnlineStatus {
    width: 100%;
    display: flex;
    gap: rem(3);
    align-items: center;

    &Indicator {
      width: rem(5);
      height: rem(5);
      border-radius: 50%;
      flex-shrink: 0;

      &--status {
        &_Online {
          background: var(--Palette--BrightGreen--100--opacity-1);
        }
        &_Offline {
          background: var(--Palette--LightGrey--100--opacity-1);
        }
      }
    }
  }

  &-CallButtons {
    display: flex;
    gap: rem(10);
    color: var(--Color-Text--root--theme-default);
    margin-left: auto;
  }

  &-CallButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--Palette--Oceanic--100--opacity-1);
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      background: #e5e5e5;
      color: #444;
    }

    &--active {
      background: var(--Palette--BrightGreen--120--opacity-05);
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
    }
  }

  &-InfoButton {
    margin-left: auto;
  }
}
