@import "@ui/styles/for_components";
@import "../../../variables";



.Header {
  &-ButtonCloseChat {
    $size: rem(25);
    max-width: $size;
    width: $size;
    height: $size;
    min-width: $size;
    padding: 0;
    background: transparent!important;
  }

  &-ContactInfo {
    display: flex;
    gap: rem(10);
    align-items: center;
    height: 100%;
  }

  &-ImgContainer {
    position: relative;
    overflow: hidden;
    border-radius: $messenger--border-radius--medium;
    height: max(100%, rem(20));
  }
  &-Info {
    display: flex;
    flex-direction: column;
  }
  &-InfoName {
    width: 100%;
  }
  &-OnlineStatus {
    width: 100%;
    display: flex;
    gap: rem(3);
    align-items: center;

    &Indicator {
      width: rem(5);
      height: rem(5);
      border-radius: 50%;
      flex-shrink: 0;

      &--status {
        &_Online {
          background: var(--Palette--BrightGreen--100--opacity-1);
        }
        &_Offline {
          background: var(--Palette--LightGrey--100--opacity-1);
        }
      }
    }
  }

  &-CallButtons {
    display: flex;
    gap: rem(10);
    color: var(--Color-Text--root--theme-default);
    margin-left: auto;
  }

  &-InfoButton {
    margin-left: auto;
  }
}
