@import "@ui/styles/for_components";

.HeaderMenu {
  display: flex;
  gap: rem(10);
  align-items: center;
  justify-content: end;
  padding: rem(5);

  &-SelectTheme {
    width: fit-content;
  }
  &-SelectLocation {
    width: fit-content;
  }

  &-UserInfo {
    margin-right: auto;
    display: flex;
    height: 100%;
    gap: rem(5);
    align-items: center;
  }

  &-UserAvatarContainer {
    height: 100%;
    display: block;
    border-radius: rem(3);
    overflow: hidden;
  }
  &-UserName {
    text-wrap: none;
  }
}
