@import "@ui/styles/for_components";

.Layout {
  position: relative;
  height: 100dvh;
  display: grid;
  grid-template: "main-menu second-menu" rem(40)
            "main-menu content-area" calc(100dvh - rem(40)) / 1fr 6fr;

  &-MainMenu {
    grid-area: main-menu;
    display: flex;
  }
  &-SecondMenu {
    grid-area: second-menu;
    display: flex;
  }
  &-ContentArea {
    grid-area: content-area;
    display: flex;
  }
}
