@import "@ui/styles/for_components";


.ProfilePageTab {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  padding-bottom: rem(50);

  &-ButtonsList {
    width: 100%;
    gap: rem(20);
    background: var(--Color-Bcg--root--theme-default);
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: $paddings--small;
    padding-bottom: $paddings--small;
  }

  &-Panel {
    //display: flex;
  }
}
