@import "@ui/styles/for_components";


.AboutMe {
  isolation: isolate;
  width: 100%;
  display: grid;
  grid-template:
        "bunner       bunner       " rem(250)
        "name         univercity   " auto
        "position     company      " auto
        "information  information  " fit-content(rem(64))
       / 1fr          1fr;

  &-Bunner {
    grid-area: bunner;
    position: relative;
    height: 100%;
    width: 100%;
  }
  &-Name {
    grid-area: name;
    padding: $paddings--small;
  }
  &-Univercity {
    grid-area: univercity;
    display: flex;
    gap: rem(5);
    align-items: center;
    justify-content: end;
    padding: $paddings--small;
  }
  &-Position {
    grid-area: position;
    display: flex;
    gap: rem(5);
    align-items: center;
    padding: $paddings--small;
  }
  &-Company {
    grid-area: company;
    display: flex;
    gap: rem(5);
    align-items: center;
    justify-content: end;
    padding: $paddings--small;
  }
  &-Information {
    grid-area: information;
    background: var(--Color-Bcg--variant-4--theme-default);
    border-radius: $border-radius--small;
    padding: $paddings--small;
  }

  &-BannerBck {
    height: 70%;
    position: relative;
    width: 100%;
    border-radius: $paddings--super-small;
    overflow: hidden;
  }
  &-MyPhoto {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: rem(150);
    height: rem(150);
    border-radius: 50%;
    overflow: hidden;
    border: rem(3) solid var(--Color-Border--variant-2--theme-default);
  }

  &-ContactsList {
    right: 0;
    position: absolute;
    bottom: 10%;
    width: rem(150);
    height: rem(40);
    display: flex;
    overflow: hidden;
    justify-content: flex-end;

    & > *:nth-child(1) {
      z-index: 3;
      transform: translateX(rem(30));
    }

    & > *:nth-child(2) {
      z-index: 2;
      transform: translateX(rem(20));
    }

    & > *:nth-child(3) {
      z-index: 1;
      transform: translateX(rem(10));
    }

    & > *:last-child {
      z-index: 0;
      //transform: translateX(rem(-20));
    }
  }

  &-UsersPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(35);
    height: rem(35);
    border: rem(3) solid gray;
    border-radius: 50%;
    overflow: hidden;
    background: var(--Color-Bcg--variant-4--theme-default);
    color: var(--Color-Text--variant-1--theme-default)!important;
  }

  &-ContactItemBox {
    display: flex;
    width: rem(35);
    height: rem(35);
    border-radius: 50%;
    border: rem(2) solid var(--Color-Border--variant-2--theme-default);
    overflow: hidden;
    flex-shrink: 0;
  }
}
