@import "@ui/styles/for_components";

.Comments {
  //@include scrollbarMini();
  display: flex;
  flex-direction: column;

  &--type {
    &_child {
      width: 100%;
    }
  }

  &-CommentsList {
    @include scrollbarMini();
    display: flex;
    flex-direction: column;
    max-height: rem(600);
    overflow-y: auto;
    align-items: flex-end;
    padding: rem(20);
    gap: rem(5);
  }

  &-CommentContainer {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    width: 100%;
    order: 2;

    &--pinned {
      order: 1;
      margin-bottom: rem(20);
      padding-bottom: rem(20);
      border-bottom: rem(1) solid var(--Palette--LightGrey--90--opacity-1);
    }
  }
  &-Comment {
    display: flex;
    width: 95%;
    border-radius: $border-radius--super-small;
    background: var(--Palette--LightGrey--80--opacity-1);
    //order: 1;
  }


  &-InputContainer {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }
  &-AddCommentInput {
    border-bottom: rem(1) solid var(--Palette--BrightGreen--120--opacity-1);
  }

  &-SubmitActions {
    display: flex;
    gap: rem(5);
    place-content: flex-end;
  }

  &-SubmitButton {
    height: rem(30);
    width: rem(30);
  }
}
