@import "@ui/styles/for_components";
@import "../../../variables";


.InfoPanel {
  isolation: isolate;
  @include scrollbarMini();
  position: absolute;
  z-index: 1;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #2c3156;
  overflow-y: auto;

  &--status {
    &_open {
      transform: translateX(0);
      transition: transform .5s;
    }
    &_close {
      transform: translateX(100%);
      transition: transform .5s;
    }
  }

  &-Header {
    display: flex;
    gap: rem(10);
    padding: $messenger--padding--small;
    align-items: center;
    border-bottom: rem(1) solid var(--Color-Border--variant-3--theme-default);
    height: rem(60);
  }

  &-CloseButton {
    color: var(--Color-Text--root--theme-default);
    height: rem(15);

    svg {
      height: inherit;
    }
  }


  &-Description {
    padding: $paddings--medium;
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &-Title {
    &Container {
      width: 100%;
      text-align: center;
      padding: $messenger--padding--small;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(5);
    }
  }

  &-Image {
    display: flex;
  }

  &-UploadFile {
    display: flex;
  }

  &-ParticipantsOnline {
    width: 100%;
    display: flex;
    gap: rem(50);
    justify-content: center;
  }

  &-ActionButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: rem(50);
    padding: $messenger--padding--small;
  }

  &-Summary{
    &Container {
      width: 100%;
      display: flex;
      gap: rem(5);
      align-items: center;
    }
    &TextArea {
      border-radius: $border-radius--super-small;
      border: rem(1) solid var(--Palette--BrightGreen--120--opacity-1)!important;
      background: var(--Palette--DarkSlate--100--opacity-1)!important;
      padding: rem(5);
    }
  }

  &-Media {
    width: 100%;
    padding: $paddings--medium;
    display: flex;
    flex-direction: column;

    &TabsList {
      width: 100%!important;
      gap: rem(5)!important;
    }

    &Tab {
      flex-grow: 1;
      width: auto!important;
    }

    &TabPanel {
      margin-top: rem(20) !important;
    }
  }
}
