@import "@ui/styles/for_components";

.HeaderMenu {
  display: flex;
  gap: rem(10);
  align-items: center;
  justify-content: end;
  padding: rem(5);

  &-SelectTheme {
    width: fit-content;
  }
  &-SelectLocation {
    width: fit-content;
  }

}
