:root{
  //root. Палитра
  --Palette--LightLavender--100-opacity-1: #d3d3e2;
  --Palette--LightLavender--90-opacity-1: #bca9a9;

  --Palette--DarkSlate--100--opacity-1: #616789;
  --Palette--DarkSlate--90--opacity-1: #484e70;
  --Palette--DarkSlate--80--opacity-1: #313458;
  --Palette--DarkSlate--70--opacity-1: #2c3156;
  --Palette--DarkSlate--60--opacity-1: #1f2440;
  --Palette--DarkSlate--50--opacity-1: #1a1e38;

  --Palette--LightGrey--100--opacity-1: #b5b5b7;
  --Palette--LightGrey--90--opacity-1: #ac9d9dad;
  --Palette--LightGrey--90--opacity-47: rgba(172, 157, 157, 47%);
  --Palette--LightGrey--70--opacity-1: #5d5e6a;
  --Palette--LightGrey--70--opacity-56: rgba(93, 94, 106, 56%);
  --Palette--LightGrey--80--opacity-1: rgba(128, 128, 128, 0.13);

  --Palette--TomatoRed--100--opacity-1: #eb595a;
  --Palette--TomatoRed--90--opacity-1: #b64a50;
  --Palette--TomatoRed--80--opacity-1: #f3b48ffa;

  --Palette--LightViolet--100--opacity-1: #959afffa;
  --Palette--LightViolet--200--opacity-1: #a63ffffa;

  --Palette--Oceanic--100--opacity-1: rgba(8, 198, 222, 0.98);

  --Palette--BrightGreen--100--opacity-1: #1ae243;
  --Palette--BrightGreen--110--opacity-1: #08e0ad;
  --Palette--BrightGreen--120--opacity-1: #1ebdbf;
  --Palette--BrightGreen--120--opacity-05: rgba(30, 189, 191, 0.51);


  //1. Основной текст и фон
  --Color-Text--root--theme-default: var(--Palette--LightLavender--100-opacity-1);
  --Color-Text--root--theme-light: var(--Palette--DarkSlate--50--opacity-1);

  --Color-Bcg--root--theme-default: var(--Palette--DarkSlate--60--opacity-1);
  --Color-Bcg--root--theme-light: var(--Palette--LightLavender--100-opacity-1);


  //2. Текст
  //Для темы по умолчанию
  --Color-Text--variant-1--theme-default: var(--Palette--LightLavender--100-opacity-1);
  --Color-Text--variant-2--theme-default: var(--Palette--DarkSlate--100--opacity-1);
  --Color-Text--variant-3--theme-default: var(--Palette--DarkSlate--90--opacity-1);
  --Color-Text--variant-4--theme-default: var(--Palette--TomatoRed--90--opacity-1);
  --Color-Text--variant-5--theme-default: var(--Palette--DarkSlate--60--opacity-1);
  --Color-Text--variant-6--theme-default: var(--Palette--Oceanic--100--opacity-1);
  --Color-Text--variant-7--theme-default: var(--Palette--LightViolet--200--opacity-1);
  //Для темы светлой
  //--Color-Text--variant-1--theme-light: var(--Palette--LightLavender--100-opacity-1);
  //--Color-Text--variant-2--theme-light: var(--Palette--DarkSlate--100--opacity-1);
  //--Color-Text--variant-3--theme-light: var(--Palette--DarkSlate--90--opacity-1);
  //--Color-Text--variant-4--theme-light: var(--Palette--TomatoRed--90--opacity-1);
  //--Color-Text--variant-5--theme-light: var(--Palette--DarkSlate--60--opacity-1);



  //3. Фон приложения и сообщений
  //Для темы по умолчанию
  --Color-Bcg--variant-1--theme-default: var(--Palette--DarkSlate--60--opacity-1);
  --Color-Bcg--variant-2--theme-default: var(--Palette--LightViolet--100--opacity-1);
  --Color-Bcg--variant-3--theme-default: var(--Palette--DarkSlate--50--opacity-1);
  --Color-Bcg--variant-4--theme-default: var(--Palette--DarkSlate--80--opacity-1);
  --Color-Bcg--variant-5--theme-default: var(--Palette--LightGrey--70--opacity-1);
  --Color-Bcg--variant-6--theme-default: var(--Palette--TomatoRed--100--opacity-1);
  --Color-Bcg--variant-7--theme-default: var(--Palette--LightGrey--90--opacity-1);
  --Color-Bcg--variant-8--theme-default: var(--Palette--BrightGreen--110--opacity-1);
  --Color-Bcg--variant-9--theme-default: var(--Palette--BrightGreen--120--opacity-1);
  //Для темы светлой
  //--Color-Bcg--variant-1--theme-light: var(--Palette--DarkSlate--60--opacity-1);
  //--Color-Bcg--variant-2--theme-light: var(--Palette--LightViolet--100--opacity-1);
  //--Color-Bcg--variant-3--theme-light: var(--Palette--DarkSlate--50--opacity-1);
  //--Color-Bcg--variant-4--theme-light: var(--Palette--DarkSlate--80--opacity-1);
  //--Color-Bcg--variant-5--theme-light: var(--Palette--LightGrey--70--opacity-1);
  //--Color-Bcg--variant-6--theme-light: var(--Palette--TomatoRed--100--opacity-1);
  //--Color-Bcg--variant-7--theme-light: var(--Palette--LightGrey--90--opacity-1);


  //4. Границы
  //Для темы по умолчанию
  --Color-Border--variant-1--theme-default: var(--Palette--DarkSlate--70--opacity-1);
  --Color-Border--variant-2--theme-default: var(--Palette--LightGrey--100--opacity-1);
  --Color-Border--variant-3--theme-default: var(--Palette--LightGrey--90--opacity-47);
  //Для темы по умолчанию
  --Color-Border--variant-1--theme-light: var(--Palette--DarkSlate--70--opacity-1);
  --Color-Border--variant-2--theme-light: var(--Palette--LightGrey--100--opacity-1);
  --Color-Border--variant-3--theme-light: var(--Palette--LightGrey--90--opacity-47);

  //5. Статусы
  //Для темы по умолчанию
  --Color-Status--variant-1--theme-default: var(--Palette--TomatoRed--100--opacity-1);
  --Color-Status--variant-2--theme-default: var(--Palette--BrightGreen--100--opacity-1);
  --Color-Status--variant-3--theme-default: var(--Palette--LightGrey--70--opacity-56);

  //6. Иконки
  //Для темы по умолчанию
  --Color-Icon--variant-1--theme-default: var(--Palette--LightLavender--100-opacity-1);
  --Color-Icon--variant-2--theme-default: var(--Palette--DarkSlate--100--opacity-1);
  --Color-Icon--variant-3--theme-default: var(--Palette--TomatoRed--90--opacity-1);

  //6. Иконки
  //Для темы по умолчанию
  --Color-ScrollBar--variant-1--theme-default: var(--Palette--LightLavender--100-opacity-1);
  --Color-ScrollBar--variant-2--theme-default: var(--Palette--DarkSlate--100--opacity-1);
  --Color-ScrollBar--variant-3--theme-default: var(--Palette--TomatoRed--90--opacity-1);
  --Color-ScrollBar--variant-4--theme-default: var(--Palette--BrightGreen--120--opacity-1);

}
