@import "@ui/styles/for_components";

$change-container--height: rem(30);
$meta-info--height: rem(30);
$text--min-height: rem(50);
$text--max-height: rem(200);
$media-container--max-height: rem(200);
$author--max-width: rem(40);

.Publication {
  display: grid;
  grid-template:
        "change-container change-container change-container change-container ." $change-container--height
        "media-container  media-container  media-container  media-container  author" fit-content($media-container--max-height)
        "text             text             text             text             author" minmax(auto, $text--max-height)
        "emojies          commets          date-delivery    date-created     author" $meta-info--height
      / 1fr               auto             auto             auto             fit-content($author--max-width);

  &-Author {
    grid-area: author;
    background: dodgerblue;
  }
  &-ChangeContainer {
    grid-area: change-container;
    background: #616789;
  }
  &-MediaContainer {
    grid-area: media-container;
    background: blueviolet;
  }
  &-Text {
    grid-area: text;
    background: white;
  }
  &-Emojies {
    grid-area: emojies;
    background: red;
  }
  &-Commets {
    grid-area: commets;
    background: green;
  }
  &-DateDelivery {
    grid-area: date-delivery;
    background: orange;
  }
  &-DateCreated {
    grid-area: date-created;
    background: yellowgreen;
  }

  &-Post {
    //grid-template:
    //    "change-container change-container change-container change-container author" $change-container--height
    //    "media-container  media-container  media-container  media-container  author" minmax(auto, $media-container--max-height);
    //    "text             text             text             text             author" minmax($text--min-height, $text--max-height);
    //    "emojies          commets          date-delivery    date-created     author" $meta-info--height / 1fr;
  }
  &-Message {
    //grid-template:
    //    "change-container change-container change-container change-container author" $change-container--height
    //    "media-container  media-container  media-container  media-container  author" minmax(auto, $media-container--max-height);
    //    "text             text             text             text             author" minmax($text--min-height, $text--max-height);
    //    "emojies          commets          date-delivery    date-created     author" $meta-info--height / 1fr;
  }
  &-Comment {
    //grid-template:
    //    "change-container change-container change-container change-container author" $change-container--height
    //    "media-container  media-container  media-container  media-container  author" minmax(auto, $media-container--max-height);
    //    "text             text             text             text             author" minmax($text--min-height, $text--max-height);
    //    "emojies          commets          date-delivery    date-created     author" $meta-info--height / 1fr;
  }
}
