@use 'sass:list' as list;
@import "@ui/styles/for_components";


.Text {

  &--textElipsis {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  // Временно
  @include color-theme('default') {
    color: var(--Color-Text--root--theme-default);
  }
  @include color-theme('light') {
    color: var(--Color-Text--root--theme-light);
  }


  @include media-content('font-size') using ($bp-name, $bp-size) {
    @each $name, $sizes in $text-sizes {
      $size: list.nth($sizes, 1);
      $lh: list.nth($sizes, 2);

      &_#{$name} {
        font-size: rem($size);
        line-height: rem($lh);
      }
    }
  }

  @include media-content('font-weight') using ($bp-name, $bp-size) {
    @each $name, $weight in $text-weights {
      &_#{$name}{
        font-weight: $weight;
      }
    }
  }
}
