@import "@ui/styles/for_components";

.Select {
  padding: $paddings--super-small;
  background: transparent;

  @include color-theme('default') {
    color: var(--Color-Text--variant-1--theme-default);
  }

  @include color-theme('red') {
    //background: pink;
  }
}
