@import "@ui/styles/for_components";

.Signin {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  position: absolute;
  max-width: 50%;
  top: 20%;
  left: 7%;

  &-BckImage {
    position: absolute;
    z-index: -1;
  }

  &-MyName {
    color: var(--Color-Text--variant-7--theme-default)!important;
    //color: var(--Color-Text--variant-6--theme-default)!important;
  }
  &-MyPosition {
    //color: var(--Color-Text--variant-7--theme-default)!important;
    color: var(--Color-Text--variant-6--theme-default)!important;
  }

  &-Salutation {
    width: 100%;
    display: block;
    position: relative;
    padding: $paddings--small;
    border-radius: $border-radius--medium;
    overflow-y: hidden;
    box-shadow: rem(1) rem(1) rem(1) var(--Color-Bcg--variant-9--theme-default);

    &:before {
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--Palette--DarkSlate--90--opacity-1);
      opacity: .5;
    }

    & > span {
      z-index: 2;
      position: relative;
      letter-spacing: 0.03em;
    }
  }
  &-Enter {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &-EnterText {
    display: flex;
    flex-shrink: 0;
  }

  &-EnterButtonsList {
    display: flex;
    padding: rem(10);
  }

  &-EnterButton {
    border-radius: $border-radius--medium;
    height: rem(50);
    width: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;

    @include color-theme('default') {
      color: var(--Color-ScrollBar--variant-4--theme-default);
      background: rgba(128, 128, 128, 0.13);
      border: rem(1) solid var(--Color-Border--variant-3--theme-default);
      box-shadow: rem(1) rem(1) rem(1) var(--Color-Bcg--variant-9--theme-default);

      &:hover {
        background: var(--Palette--DarkSlate--90--opacity-1);
      }
    }
  }
}
