@import "@ui/styles/for_components";

.ToggleReactions {
  display: flex;
  gap: rem(3);

  &-ButtonBox {
    display: flex;
    align-items: center;
    gap: rem(3);

    &--active {
      color: var(--Color-Text--variant-7--theme-default);
    }

    & > svg {
      height: 60%;
    }
  }
}
